*.class
*.log
*.iml
*.ipr
*.iws
*.gz
.idea
out
.cache/
.history/
.lib/
dist/*
target/
bin/
libexec/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
logs/
project/*-shim.sbt
project/project/
project/target/*
target
.scala_dependencies
.worksheet
!target
target/*
!target/scala-2.11
target/scala-2.11/*
!target/scala-2.11/api
target/scala-2.11/api/*
!target/scala-2.11/api/index.html

!resources
resources/imdbdata/
